@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  margin-top: 32px;
}

.content-and-rulesButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-desktop,
.rules-page-desktop {
  display: none;
}

.you-picked-desktop,
.house-picked-desktop {
  display: none;
  color: #fff;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  font-family: Barlow Semi Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 3px;
}

.heading-div {
  width: 311px;
  border-radius: 5px;
  border: 3px solid rgba(255, 255, 255, 0.29);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 12px 24px 24px;
  margin: auto;
}

.score-div {
  width: 80px;
  border-radius: 4px;
  background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  padding: 10px 24px;
}

.logo {
  width: 49px;
  height: 48px;
}

.score-word {
  color: #2a45c2;
  text-align: center;
  font-family: Barlow Semi Condensed;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.563px;
}

.score-number {
  color: #565468;
  text-align: center;
  font-family: Barlow Semi Condensed;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.content {
  margin-left: 49px;
}

.pentagon-img {
  width: 227px;
  height: 227px;
  margin-top: 145px;
  position: absolute;
  z-index: -1;
}

.icon {
  width: 96px;
  height: 97px;
}

.scissors {
  margin-top: 95px;
  margin-left: 65px;
}

.spock {
  margin-left: -50px;
}

.paper {
  margin-left: 120px;
}

.lizard-and-rock {
  margin-top: 29px;
  align-items: center;
  display: flex;
}

.rock {
  margin-left: 33px;
}

.rules-button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules-button {
  width: 128px;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: Barlow Semi Condensed;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.5px;
  padding: 11px 36px;
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
  margin-top: 126px;
  margin-bottom: 56px;
}

.rules-page {
  display: none;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
  padding-top: 95px;
  padding-bottom: 66px;
  margin: auto;
}

.rules {
  color: #3b4262;
  font-family: Barlow Semi Condensed;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
}

.rules-img {
  width: 311px;
  height: 305px;
  margin-top: 96px;
}

.close-icon {
  margin-top: 137px;
}

.pre-step2 {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.player-choice,
.computer-choice {
  width: 130px;
  height: 133px;
  border: 0;
  outline: none;
}

.house-icon {
  width: 110px;
  height: 110px;
  background: black;
  opacity: 0.2;
  border-radius: 50%;
  position: absolute;
}

.your-pick-div,
.house-pick-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.you-picked,
.house-picked {
  color: #fff;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  font-family: Barlow Semi Condensed;
  font-size: 15px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.875px;
  margin-top: 17px;
}

#result-text {
  color: #fff;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  font-family: Barlow Semi Condensed;
  font-size: 56px;
  font-weight: 700;
  margin-top: 35px;
}

#play-again {
  display: none;
  width: 227px;
  border-radius: 8px;
  background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  color: #3b4262;
  font-family: Barlow Semi Condensed;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2.5px;
  padding: 15px 62px 14px 60px;
  margin: 18px auto 0px auto;
}

.hidden {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

@media (min-width: 1440px) {
  .blured-div {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .result {
    display: none;
  }

  .result-desktop {
    display: block;
    margin-top: 120px;
  }

  #result-text-desktop {
    color: #fff;
    text-align: center;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    font-family: Barlow Semi Condensed;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 40px;
  }

  #play-again-desktop {
    display: none;
    width: 227px;
    border-radius: 8px;
    background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    color: #3b4262;
    font-family: Barlow Semi Condensed;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    padding: 15px 62px 14px 60px;
    margin-top: 18px;
    margin-left: 43px;
    cursor: pointer;
  }

  .pre-step2 {
    gap: 78px;
  }

  .rules-page-desktop {
    display: none;
    flex-direction: column;
    width: 400px;
    height: 461px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 32px 37px 47px 45px;
  }

  .desktop-rules-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 154px auto;
  }

  .rules-and-closeIcon {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .rules-img {
    margin-top: 20px;
  }

  .close-icon {
    margin-top: 0;
  }

  .heading-div {
    width: 700px;
    justify-content: space-between;
    padding: 22px 24px 18px 32px;
    margin: 42px auto;
  }

  .logo {
    width: 108.836px;
    height: 108.076px;
    cursor: pointer;
  }

  .score-div {
    width: 150px;
    height: 114px;
    padding: 18px 48px;
  }

  .score-word {
    font-size: 20px;
  }

  .score-number {
    margin-top: 10px;
    font-size: 65px;
  }

  .pentagon-img {
    width: 345px;
    height: 345px;
    margin-top: 123px;
  }

  .icon {
    width: 145px;
    height: 148px;
    cursor: pointer;
  }

  .scissors {
    margin-top: 50px;
    margin-left: 95px;
  }

  .spock {
    margin-left: -75px;
  }

  .paper {
    margin-left: 182px;
  }

  .rock {
    margin-left: 52px;
  }

  .player-choice,
  .computer-choice {
    width: 293px;
    height: 287px;
    margin-top: 63px;
  }

  .house-icon {
    width: 225px;
    height: 225px;
    margin-top: 120px;
  }

  .you-picked,
  .house-picked {
    display: none;
  }

  .you-picked-desktop,
  .house-picked-desktop {
    display: block;
  }

  .your-pick-div,
  .house-pick-div {
    margin-top: 72px;
  }

  .rulesButton-div-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 32px;
  }

  .rules-button {
    margin-left: auto;
    margin-bottom: 32px;
    margin-top: 32px;
    cursor: pointer;
  }
}
